@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Helvetica Neue", "Helvetica", "Open Sans", system-ui,
      sans-serif;
  }

  :root {
    --color-grey-1: #e5e6e6;
    --color-grey-2: #9fa0a0;
  }

  .variable-width-slider {
    .slick-slide {
      padding: 0 2px;
    }
  }
}
